# Enter your MongoDB URL here. You can get it from MongoDB Atlas or MongoDB Cloud
DATABASE_URL=

# Enter the port you want to run the server on
PORT=

# Enter the secret key and salt for your JWT tokens
JWT_SECRET=
JWT_SALT=

# Enter the admin ID for the web app
ADMIN_ID=

# Enter the environment you want to run the server on
NODE_ENV=